.back{
    width:100%;
   // height:1400px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('https://images.pexels.com/photos/326278/pexels-photo-326278.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
.cubrir{
    width:100%;
    height:100%;
    background-color:rgba( 0,0,0,.5);

}
.box{
    width:50%;
    flex-grow: 1;
    //margin-top: 100px;

}
.fix{
    display: flex;
    flex-wrap: wrap;
}
.tarjeta{
    margin: 0 auto;
    width:450px;
   // height:400px;

    padding: 2% 5%;

}

.tarjeta h3{
    font-family: 'Open Sans', sans-serif;
    color:#fff;
    font-size: 45px;
}
.tarjeta p{
    color:#fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
}
.margencin{
    margin-top: 60px;
}
.spa{
    font-size: 30px;
}
@media(max-width: 769px){

    .tarjeta{
        width:350px;
    }
    .tarjeta h3{
        font-size: 35px;
    }
    .dos{
        display: none;
    }

}
@media(max-width: 450px){

    .back {
        height:auto;

    }
    .tarjeta{

        width:80%;
        margin: 0 auto;
        height:250px;
        margin-bottom: 30px;
    }
    .tarjeta h3{
        font-size: 25px;
    }
    .tarjeta p{

        font-size: 16px;
    }
    .margencin{
        margin-top: 10px;
    }
    .spa{
        font-size:20px ;
    }
}